bin
obj
artifacts
TestResults
test-results
coverage
coverage-results
coverage-report

.env
.env.local
.env.*.local
.env.admin.local

logs
log
*.log
.cache
.vs
.idea
.vscode

.git
.github
.DS_Store
Thumbs.db
